// ==============================
// Custom style
// ==============================
// You can override the variables in _variables.scss to customize the style

  @import url('https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&display=swap');
  * {
    font-family: 'EB Garamond', serif;
    font-weight: 400;
  }
  
  .toilet-icon {
      background: url('../images/icons/over.png');
      height: 40px;
      width: 40px;
      display: inline-block;
      background-size: 40px 40px;
      /* Other styles here */
  }
  
  .eth-icon {
      background: url('../images/icons/ether.png');
      height: 40px;
      width: 40px;
      display: inline-block;
      background-size: 40px 40px;
      /* Other styles here */
  }
  
  .castle-icon {
      background: url('../images/icons/ether.png');
      height: 40px;
      width: 40px;
      display: inline-block;
      background-size: 40px 40px;
      /* Other styles here */
  }